<div class="wrap">
	<nav>
		<div class="inputs">
			<span><img src="images/fang1.png"></span>
			<input type="text" placeholder="搜索药品/器械/中药饮片">
		</div>
		<div class="messageDiv">
			<a href="http://m.360kad.com/Login/">登录</a>
		</div>
	</nav>
	<div class="banner">
		<div class="swiper-container">
			<div class="swiper-wrapper">
			    <div class="swiper-slide"><img src="images/CgAgEFi4zY-AGuehAAEdj1QgkYQ676.jpg" alt=""></div>
			    <div class="swiper-slide"><img src="images/CgAgEFi09FOATUgcAAE_3X2YKLs363.jpg" alt=""></div>
			    <div class="swiper-slide"><img src="images/CgAgEFi084OALi7WAAEuJ7i1AoA876.jpg" alt=""></div>
			    <div class="swiper-slide"><img src="images/CgAgEFibx4KAZWfZAAGjBLEopHs720.jpg" alt=""></div>
			    <div class="swiper-slide"><img src="images/CgAgEFiuOhaAeWxNAAIWhlMjprM462.jpg" alt=""></div>
				<div class="swiper-slide"><img src="images/CgAgEFiwCrCAAwgZAAFzOgElcSQ151.jpg" alt=""></div>
				<div class="swiper-slide"><img src="images/CgAgEVi087uAZPxZAAEtmfnpeas118.jpg" alt=""></div>
			</div>
			<!-- 分页器 -->
			<div class="swiper-pagination"></div>
		</div>	
	</div>
	<div class="icon-wrap">
		<ul class="ulicon">
			<li>
				<a href="http://localhost:3000/all.html">
				<img src="images/CgAgEVhsspqADQQCAAAUggHEoxU141.png" alt="">
				<span>全部分类</span></a>
			</li>
			<li><a href="http://m.360kad.com/Category/Auto?kzone=micon2">
				<img src="images/CgAgEFhR6KSAFvWDAAAUSNdvTKs751.png" alt="">
				<span>自助找药</span></a>
			</li>
			<li>
				<a href="http://m.360kad.com/Topic/DaySign.shtml?kzone=micon3">
				<img src="images/CgAgEVhsswyAMOKZAAAP9IHrRto264.png" alt="">
				<span>每日签到</span></a>
			</li>
			<li>
				<a href="http://m.360kad.com/OrderInfo/GetExpressOrderByMobile?kzone=micon4">
				<img src="images/CgAgEFhXmPqAOQXyAAASzYzg_zU342.png" alt="">
				<span>查看物流</span></a>
			</li>
			<li>
				<a href="http://m.360kad.com/zhuanti/m_nanke.shtml?kzone=micon6">
				<img src="images/CgAgEFhR6N2ATrJEAAAWUU4PGW0876.png" alt="">
				<span>男性频道</span></a>
			</li>
			<li>
				<a href="http://m.360kad.com/zhuanti/m_fuke.shtml?kzone=micon7">
				<img src="images/CgAgEFhR6OaAAnWtAAAVff4AuEk963.png" alt="">
				<span>女性频道</span></a>
			</li>
			<li>
				<a href="http://m.360kad.com/zhuanti/manxingbing_m.shtml?kzone=micon5">
				<img src="images/CgAgEFhss0-AJ1ohAAAZTWIK0mM740.png" alt="">
				<span>慢性病</span></a>
			</li>
			<li>
				<a href="http://m.360kad.com/adult?kzone=micon8">
				<img src="images/consult.jpg" alt="">
				<span>成人频道</span></a>		
			</li>
		</ul>
	</div>

	<div class="miao">
		<div class="topDiv">
			<div class="leftD">
				<img src="images/skill-logo.png" alt="">
				<span class="timer">12点场</span>
				<span class="hours"></span>:<span class="minutes"></span>:<span class="seconds"></span></div>

			<div class="rightD"><a href="">1元秒健康 ></a></div>
		</div>
		<div class="ul-wrap">
			<ul class="discount clear">
				<li ng-repeat="x in skill">
					<div class="icon">
						<a href=""><img ng-src="{{x.Pic180}}" alt=""></a>
						<p class="zhe">{{x.SeckillPrice}}折</p>
					</div>
					<p class="newPrice">￥<b>{{x.Price}}</b></p>
					<p class="oldPrice"><s>￥{{x.SeckillPrice}}</s></p>
				</li>
			</ul>
		</div>
		
	</div>
	<div class="big-wrap">
		<div class="leftDiv">
			<a href=""><img src="images/CgAgEFir2QSAJ_TVAACcWUkkZnI515.jpg"></a>
			<a href=""><img src="images/CgAgEFhssaCAEH4VAABscXeimWc878.png"></a>	
		</div>
		<div class="rightDiv">
			<a href=""><img src="images/CgAgEVgmzf2AKBY4AAA21aw_qRs220.jpg"></a>
			<a href=""><img src="images/CgAgEFibyi-AUcO8AABwdQJUAHg202.jpg"></a>
			<a href="http://m.360kad.com/Promotions?kzone=mpp5"><img src="images/CgAgEVhssa6AVKKeAAB8bZXNouc315.png"></a>
		</div>
	</div>

	<div class="recommend">
		<p class="titp">小康推荐&nbsp;<span>GOOD</span></p>
		<ul class="rec">
			<li><a href=""><img src="images/CgAgEVi1Dh-ASgecAAFUQ6we9AY118.jpg"></a></li>
			<li><a href=""><img src="images/CgAgEVi1Dj2AHRPNAAFAw-53ulE930.jpg"></a></li>
		</ul>
	</div>

	<div class="show-icon">
		<a href="http://m.360kad.com/zhuanti/qcwdl_m.shtml"><img src="images/CgAgEVimY6OACgJGAADael97Y4E338.jpg"></a>
	</div>
	<div class="hot">
		<p class="titp">热门科室&nbsp;<span>HOT</span></p>
		<ul class="hot-icon">
			<li><a href="/zhuanti/manxingbing_m.shtml?kzone=mrmks1"><img src="images/CgAgEFgmzc2AWHiYAABpUiqRoPU043.jpg" alt=""></a></li>
			<li><a href="/men?kzone=mjkjx2"><img src="images/CgAgEFgmzdeAPIFDAABoRk1G6-8259.jpg" alt=""></a></li>
			<li><a href="/zhuanti/m_znxsh.shtml"><img src="images/CgAgEFgmzfaAfy92AAAxyd9_Sgw230.jpg" alt=""></a></li>
			<li><a href="/zhuanti/m_2016quban.shtml?kzone=mrmks4"><img src="images/CgAgEFgmzg2AFjbNAAAu_SrKNlg248.jpg" alt=""></a></li>
			<li><a href="/adult/?kzone=mjkjx4"><img src="images/CgAgEVgmze2ABaViAAA2T7GL7Aw306.jpg" alt=""></a></li>
			<li><a href="/Instrument/?kzone=mjkjx4"><img src="images/CgAgEVgmzeWARz6EAAA24II9MLE582.jpg" alt=""></a></li>
			<li><a href=""><img src="images/CgAgEVgmzf2AKBY4AAA21aw_qRs220.jpg" alt=""></a></li>
			<li><a href="/women/?kzone=mjkjx6"><img src="images/CgAgEVgmzgWASemlAAA0GgOFx5Y272.jpg" alt=""></a></li>
		</ul>
	</div>
	<div class="show-icon">
		<a href=""><img src="images/CgAgEFiwCrCAAwgZAAFzOgElcSQ151.jpg"></a>
	</div>
	<div class="focus">
		<p class="titp">健康精选&nbsp;<span>FOCUS</span></p>
		<div class="imgs">
			<a href="http://m.360kad.com/zhuanti/m_jtyx.shtml?kzone=mjkjx1"><img src="images/CgAgEFga-rOAauQBAABe2JbomJ0516.jpg" alt=""></a>
			<a href="http://m.360kad.com/zhuanti/m_jtyx.shtml?kzone=mjkjx1"><img src="images/CgAgEFga-wGAaYYpAAB3UOBZFYs516.jpg" alt=""></a>
			<a href="http://m.360kad.com/zhuanti/m_jtyx.shtml?kzone=mjkjx1"><img src="images/CgAgEVga-r2ALsDUAABxSYhaKd4830.jpg" alt=""></a>
			<a href="http://m.360kad.com/zhuanti/m_jtyx.shtml?kzone=mjkjx1"><img src="images/CgAgEVgm2QmAPCKfAADBWIQvlhU570.jpg" alt=""></a>
		</div>
		<div class="like">
			<p class="line"></p>
			<p class="likep"><span class="xin"><img src="images/likestar.png"></span>猜你喜欢</p>
		</div>
	</div>
	<div class="showIcon">
		<ul class="show">
			<li ng-repeat="y in like" ng-click="clickFn(y.WareSkuCode)">
				<p class="yao"><a href=""><img ng-src="{{y.Pic800}}"></a></p>
				<p class="names">{{y.WareName}}</p>
				<p class="price clear">
					<span class="red">￥<b>{{y.SalePrice}}</b></span>
					<span class="gray"><s>￥{{y.MarketPrice}}</s></span>
				</p>

			</li>
		</ul>
	</div>
	<p class="footp">没有更多了...</p>
	<div class="btn" ng-click="topFn()">
		<img src="images/topIcon.png">
		<span>顶部</span>
	</div>
</div>